<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @card.card_number %>
</p>

<p>
  <strong>Cvc:</strong>
  <%= @card.cvc %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @card.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @card.end_date %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @card.bank_name %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
